[mysqld]

innodb_read_io_threads         = 16
innodb_write_io_threads        = 16
innodb_flush_log_at_trx_commit = 0
innodb_flush_log_at_timeout    = 20
innodb_doublewrite             = 0
innodb_flush_method            = O_DSYNC
innodb_fast_shutdown           = 2
innodb_log_buffer_size         = 2GB
innodb_buffer_pool_size        = 2GB
query_cache_size               = 0M
innodb_file_per_table          = 0
tmp_table_size                 = 256MB
max_heap_table_size            = 512MB
table_open_cache               = 8000
